<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>Good Night to <%- name -%></title>
</head>
<body>
    <div class="container">
       <form>
            <label for="username">Tên đăng nhập</label>
            <input type="text" id="username" class="container inputText" >
            <label for="password">Tên đăng nhập</label>
            <input type="text" id="password" class="container inputText" >
            <button id="btnLogin" class="btn-primary">LOGIN</button>
       </form>
    </div>
</body>
</html>