<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container m-b-3">
        <div class="row">
            <h1>Chat realtime</h1>
        </div>
        <div class="row">
            <div class="col">
                <span class="m-1 d-inline-flex justify-content-end align-items-end" style="gap: 10px">
                    <img src="user.svg" width="50px" height="50px" />
                    <p class="border  p-3 my-0"
                        style="border-radius: 20px; background-color: rgb(255, 85, 85); color:white">
                        Use border utilities to add or remove<br />
                        Use border utilities to add or remove an element’s borders. Choose from all borders or one at a
                        time.<br />
                        Use border utilities to add or remove an element’s borders. Choose from all borders or one at a
                        time.Use border utilities to add or remove an element’s borders. Choose from all borders or one
                        at a time.<br />
                    </p>
                </span>
            </div>
            <div class="col">

            </div>
        </div>

        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="m-1 d-inline-flex justify-content-end align-items-end" style="gap: 10px; float: right">
                    <p class="border border-3 p-3 my-0 " style="border-radius: 20px">
                        asdfashdfgjkasdh<br />
                        asdfashdfgjkasdh
                        asdfashdfgjkasdh
                    </p>
                    <span style="min-width: 20px;">
                        <img src="user.svg" width="20px" />
                    </span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="m-1 d-inline-flex justify-content-end align-items-end" style="gap: 10px; float: right">
                    <p class="border border-3 p-3 my-0 " style="border-radius: 20px">
                        asdfashdfgjkasdh<br />
                        asdfashdfgjkasdh
                        asdfashdfgjkasdh
                    </p>
                    <span style="min-width: 20px;">

                    </span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="m-1 d-inline-flex justify-content-end align-items-end" style="gap: 10px; float: right">
                    <p class="border border-3 p-3 my-0 " style="border-radius: 20px">
                        asdfashdfgjkasdh<br />
                        asdfashdfgjkasdh
                        asdfashdfgjkasdh
                    </p>
                    <span style="min-width: 20px;">
                        <img src="user.svg" width="20px" />
                    </span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="m-1 d-inline-flex justify-content-end align-items-end" style="gap: 10px">
                    <img src="user.svg" width="50px" height="50px" />
                    <p class="border border-3 p-3 my-0" style="border-radius: 20px;">
                        Use border utilities to add or remove<br />
                        Use border utilities to add or remove an element’s borders. Choose from all borders or one at a
                        time.<br />
                        Use border utilities to add or remove an element’s borders. Choose from all borders or one at a
                        time.Use border utilities to add or remove an element’s borders. Choose from all borders or one
                        at a time.<br />
                    </p>
                </span>
            </div>
            <div class="col">

            </div>
        </div>

        <div class="row">
            <div class="col">
                <span class="m-1 d-inline-flex justify-content-end align-items-end" style="gap: 10px">
                    <img src="user.svg" width="50px" height="50px" />
                    <p class="border border-3 p-3 my-0" style="border-radius: 20px;">
                        Use border utilities to add or remove<br />
                        Use border utilities to add or remove an element’s borders. Choose from all borders or one at a
                        time.<br />
                        Use border utilities to add or remove an element’s borders. Choose from all borders or one at a
                        time.Use border utilities to add or remove an element’s borders. Choose from all borders or one
                        at a time.<br />
                    </p>
                </span>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    <nav class="fixed-bottom container">
        
    </nav>
</body>

</html>