
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(245, 94, 94);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(201, 60, 60);
  }

.sendChatConten{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.inputText{
    outline: none;
    padding: 10px;
    width: 90%;
    border-radius: 30px;
    border: 2px solid rgb(201, 60, 60);
}
.btnSend{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 10%;
    padding-top: 10px ;
    padding-bottom: 10px ;
    padding-left: 20px ;
    padding-right: 20px ;
    border-radius: 30px;
    border: 2px solid rgb(201, 60, 60);
}

.inputText2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    outline:none;
    
}
#btnLogin{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    outline: none;
    border: node;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}